<h5>Add a photo</h5>

<%= form_for [@user, @photo], :html => { :multipart => true } do |form| %>
  <%= form.file_field :picture %>
  <%= form.submit "Add a photo" %>
<% end %>


<h2><%= @user.name %>'s Liqur Stickrz</h2>
<% if @user.photos.any? %>
  <ul>
    <% @user.photos.each do |photo| %>
      <li>
        <%= image_tag(photo.picture.url(:thumb)) %>
      </li>
    <% end %>
  </ul>



<% else %>
  <p>You're unstuck!</p>
<% end %>
